:root {
    --title-red-color: #902A0A;
    --footer-bg-color: #383232;
    --main-bg-color: #f0f0f0;
    --title-red-color05: #90290a34;
    --bt-green: #376A37;
    --check-green: #00ff00;
}

.border-r-20 {
    border-radius: 20px;
}

.cgreen {
    color: var(--check-green);
}

.red {
    color: var(--title-red-color);
}

.red05 {
    color: var(--title-red-color05);
}

.mar-r-05 {
    margin-right: 0.5rem;
}

.mar-l-1 {
    margin-left: 2rem;
}

.mar-b-05 {
    margin-bottom: 0.5rem;
}

.mar-b-1 {
    margin-bottom: 1rem;
}

.mar-t-5 {
    margin-top: 5rem;
}

.mar-t-2 {
    margin-top: 2rem;
}

.mar-b-5 {
    margin-bottom: 5rem;
}

.half-br {
    border-radius: 3% 3% 0 0;
}

.full-br {
    border-radius: 3% 3% 3% 3%;
}

.wi-10r {
    min-width: 10rem;
}

.wi-15r {
    min-width: 13rem;
}

.font-bold {
    font-weight: bold;
}

.t-center {
    text-align: center;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-weight: 100;

}

a {
    text-decoration: none;
    color: black;
}

body {
    font-family: 'Roboto Slab', serif;
    line-height: 1.5rem;
    /* body хэсэгт орж ирэх бүх font-ийг Roboto Slab болгох хэрвээ тэр уншиигдххгүй бол serif болох*/
}

/* header хэсэг */
/* header scrold-ход дээр үлдэх ёстой */
header {
    display: grid;
    padding: 0 7rem;
    position: sticky;
    top: 0;
    background: rgba(255, 255, 255, 0.729);
    backdrop-filter: blur(5px);
    box-shadow: 0.2px 0.2px 5px rgba(0, 0, 0, 0.5);
    z-index: 10;
    height: 6rem;
    grid-template-areas:
        "logo nav nav"
    ;
}

header .header-right {
    grid-area: nav;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* nav хэсэг */
/* mobile header */
header .header-right nav>ul {
    display: flex;
    justify-content: space-between;
}

header .header-right nav>ul>li {
    padding-left: 2rem;
    font-size: 1.1rem;
    margin-bottom: 0.5rem;
}

/* inlineblock болон realitive болгосноор hover underline effect зөв ажиллана. */
header .header-right nav>ul>li a {
    color: black;
    display: inline-block;
    position: relative;
}

/* cursor очиход өнгөө өөрчлөх */
header .header-right nav>ul>li a:hover {
    color: var(--title-red-color);
}

header .header-right nav>ul>li a::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--title-red-color);
    transition: transform 0.25s ease-in;
}

header .header-right nav>ul>li>a:hover::after {
    transform: scaleX(1);
}

#current {
    color: var(--title-red-color);
}

/* navbar dropdown энэ хэсэгт энгийн үед display none байж байгаад cursor очиход flex colimn болоод бууна */

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
}

.dropdown:hover .dropdown-content {
    display: flex;
    flex-direction: column;
}

.dropdown:hover .dropdown-content li {
    margin-top: 0.5rem;
    padding-left: 0.5rem;
    border-bottom: solid 1px var(--title-red-color05);
}

.dropdown .dropdown-content li:hover {
    border-bottom: solid 1px var(--title-red-color);
}

/* navbar dropdown */

.logo {
    grid-area: logo;
    display: flex;
    align-items: center;
}

/* logo хэсгээс 0,5s-д томсож орж ирнэ Энэ нь яг логоноос үг нь гарч ирж байгаам шиг */
.logo h1 {
    position: relative;
    letter-spacing: 0.3rem;
    width: 18rem;
    animation: animateright 0.5s
}

@keyframes animateright {
    from {
        right: 100px;
        opacity: 0;
        font-size: 5px;
    }

    to {
        right: 0;
        opacity: 1
    }
}


#social {
    display: flex;
    justify-content: end;
}

#social img {
    margin: 0.2rem 0.5rem;
    width: 1.3rem;
    height: 1.3rem;
}

.logo img {
    width: 5rem;
    height: auto;
}

#main-title {
    font-size: 1.6rem;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-weight: 100;
    color: var(--title-red-color);
}

/* hamnurger menu display none */
#hamburger {
    display: none;
    justify-content: end;
    align-items: center;
    position: relative;
    top: 2rem;
    transition: 0.4s;

}

/* энгийн үед none байж байгаад display багасаад ирэхэд гарч ирнэ */
#mobile-menu {
    display: none;
}

.open #mobile-menu {
    display: block;
    position: absolute;
    background: var(--main-bg-color);
    top: 4rem;
    right: -3rem;
    width: 11rem;
    height: auto;
    box-shadow: 0.2px 0.2px 0.2px rgba(0, 0, 0, 0.5);

}

.open #mobile-menu>li li {
    opacity: 0.8;
}

/* hamburger 3 зураас */
#hamburger .bars div {
    width: 2rem;
    background: var(--title-red-color);
    height: 0.1rem;
    margin: 0.5rem;
    position: relative;
    right: 0;
    transition: 0.4s;
}

/* hamburger 3 зураас дээр дарахад x тэмдэг болно */
.open .bar1 {
    transform: rotate(-45deg) translate(-6px, 6px);
}

.open .bar2 {
    opacity: 0;
}

.open .bar3 {
    transform: rotate(45deg) translate(-6px, -8px);
}

/* hamburger 3 зураас дээр дарахад x тэмдэг болно */


/* home хэсгийн css (((((((((((((((((((((((((((((((*/
/* home img хэсэг */
#home {
    background: url("/PICTURES/home.webp") center center/cover no-repeat;
    height: 90vh;
}

#home .home-img {
    background-color: rgba(0, 0, 0, 0.3);
    height: 90vh;
    color: white;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#home .home-img div {
    border: solid 0.1px white;
    padding: 5rem;
    word-spacing: 0.3rem;
    width: 60vw;
}

#home .home-img div h2 {
    margin-bottom: 5rem;
    font-size: 2rem;
    line-height: 2rem;
    font-weight: 500;
    /* mobile font */
}

#home .home-img div p {
    font-size: 1.2rem;
}

/* section tours хэсэг framework((((( */
.top-tour h2 {
    font-size: 1.8rem;
    color: var(--title-red-color);
    margin: 3rem;
}

.top-tour {
    display: flex;
    text-align: center;
    justify-content: center;
}

.section {
    width: 80vw;
    margin: auto;
}

.section .articles {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    /* mobile дээр repeat 2, 1 болгох хэрэгтэй */
}

/* tour-ийн cards хурц ирмэг үүсгэхгүй */
.section .articles article {
    margin: 1rem;
    border-radius: 3% 3% 3% 3%;
    border-left: solid 1px rgba(0, 0, 0, 0.05);
    border-bottom: solid 1px rgba(0, 0, 0, 0.05);
    border-right: solid 1px rgba(0, 0, 0, 0.05);
}

.section .articles article img {
    width: 100%;
    border-radius: 3% 3% 0 0;
}

.section .articles article a {
    color: black;
}

/* tour cards hover effect */
.section .articles article:hover {
    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.2);
}

/* section tours хэсэг framework)))) */

/* footer хэсэг */
footer {
    margin-top: 5rem;
    text-align: center;
    background-color: var(--footer-bg-color);
    color: rgba(255, 255, 255, 0.75);
    padding: 2rem;
}

.container .side {
    display: grid;
    grid-area: side;
    height: 80vh;
    width: 100%;
    position: sticky;
    top: 20vh;
    margin-top: 1rem;
}

#booking form {
    display: flex;
    flex-direction: column;
    background: var(--main-bg-color);
    height: auto;
}

#booking form div {
    display: flex;
    padding: 1rem;
}

#booking form div i {
    padding: 0.5rem;
    margin-left: 1rem;
    font-size: 1.5rem;

}

#booking form div input {
    width: 70%;
    position: absolute;
    right: 1rem;
    padding: 0.5rem;
}

#proceed {
    background-color: black;
    color: white;
}

.container .side section {
    background: var(--main-bg-color);
    align-items: center;
}

@media (max-width: 1400px) {
    .experiences {
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
    }
}

@media (max-width: 1150px) {
    .section .articles {
        grid-template-columns: repeat(2, 1fr);
        /* mobile дээр repeat 2, 1 болгох хэрэгтэй */
    }
}

@media (max-width: 1100px) {

    /* menu hamburger */
    header nav {
        display: none;
    }

    #hamburger {
        display: flex;
    }

    #social {
        display: none;
    }

    header {
        padding: 0 3rem;
    }

    .container {
        grid-template-areas:
            "info info info"
            "side side side"
        ;
    }

    .container .side {
        position: static;
    }

    .overview ul {
        margin-left: 5%;
        margin-right: 5%;
    }
}

@media (max-width: 910px) {

    .experiences {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (max-width: 760px) {

    /* menu hamburger */
    .section .articles {
        grid-template-columns: repeat(1, 1fr);
        /* mobile дээр repeat 2, 1 болгох хэрэгтэй */
    }

    #home .home-img div {
        padding: 1rem;
    }

    #home .home-img div h2 {
        margin-bottom: 5rem;
        font-size: 1.3rem;
        line-height: 2rem;
        font-weight: 500;
        /* mobile font */
    }

    #home .home-img div p {
        font-size: 0.7rem;
    }

    .overview ul li {
        margin-left: 1rem;
        font-size: 0.8rem;
    }

    #choose {
        gap: 1rem;
    }
}

@media (max-width: 710px) {
    header {
        padding: 0 1rem;
    }

    .logo h1 {
        letter-spacing: 0.3rem;
        width: 13rem;
        font-size: 1rem;
    }

    #main-title {
        font-size: 1.2rem;
    }

    .logo img {
        width: 4rem;
        height: auto;
    }

    header {
        height: 5rem;
    }

    .open #mobile-menu {
        top: 3.5rem;
    }

    #hamburger {
        top: 1.5rem;
    }

    .page-title-height .page-title-name h2 {
        font-size: 2rem;
        line-height: 2rem;
        letter-spacing: 0.2rem;
    }

    .overview {
        top: 5rem;
    }

    .container .info .tour-overview .item1 {
        grid-template-columns: repeat(1, 1fr);
        /* mobile repeat */
    }

    .title-desc {
        margin: 2rem 1rem;
    }

    .open #mobile-menu {
        right: -1rem;
    }

}

@media (max-width: 580px) {
    .overview ul {
        margin: 0 2%;
    }

    .overview ul li {
        margin-left: 0.5rem;
        font-size: 0.6rem;
    }

    .experiences .exp-overlay {
        width: 20rem;
        margin: 0 1rem 2rem 1rem;
    }
}


























.page-title-height {
    height: 40vh;
}

.act {
    background: url("/exp_pic/act.webp") center center/cover no-repeat;
}

.page-title-height .page-title-name {
    background-color: rgba(0, 0, 0, 0.2);
    height: 40vh;
    color: white;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.page-title-height .page-title-name h2 {
    font-size: 3rem;
    letter-spacing: 0.25rem;
}

.title-desc {
    margin: 2rem 4rem;
    word-spacing: 0.2rem;
    color: rgba(0, 0, 0, 0.9);
}

.experiences {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
    /* mobile repeat багасгана */
}

.experiences .exp-overlay img {
    width: 25rem;
    display: block;
    height: auto;
}

.experiences .exp-overlay {
    width: 25rem;
    margin: 0 2rem 5rem 2rem;
    position: relative;
}

/* mobule exp repeat бага болгоно */
.experiences .exp-overlay .overlay {
    position: absolute;
    /* зураг дээр байршуулах */
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    overflow: hidden;
    width: 100%;
    color: rgba(255, 255, 255, 0.5);
    /* hover хийсний дараагаар Height 100% болгож өгөх */
    height: 30%;
    transition-property: all;
    transition: 0.5s ease;
}

.exp-overlay:hover .overlay {
    height: 100%;
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
}



.mongol {
    background: url("/PICTURES/deedii.webp") center center/cover no-repeat;
}

/*globus*/
.mon-grid-item1 img {
    width: 300px;
    height: 300px;
}

/*deesh bolgoh*/
.grid-globus {
    display: grid;
    width: 80%;
    margin: auto;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;

}

#backround {
    display: flex;
    width: 100%;
    background-color: #F1F1F1;
}

@media only screen and (max-width: 732px) {
    .grid-globus {
        grid-template-columns: 1fr;
        grid-column: 1;
        grid-template-areas:
            "mon-grid-item1"
            "mon-grid-item2";
    }
}

.item {
    justify-self: center;
}

.mon-grid-item2 p b {
    margin-left: 5px;
    margin-top: 5px;
    font-weight: bold;

}

.mon-grid-item2 ul {
    margin-left: 60px;
}





/*-----------------------------region-----------------------------------------------*/

.region_grid {
    display: grid;
    width: 80vw;
    margin: auto;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

@media only screen and (max-width: 1180px) {
    .region_grid {
        grid-template-columns: repeat(2, 1fr);
        grid-column: 2;
        grid-template-areas:
            "re-grid-item1 re-grid-item2"
            "re-grid-item3 re-grid-item4"
            "re-grid-item5 re-grid-item6";
    }
}

@media only screen and (max-width: 727px) {
    .region_grid {
        grid-template-columns: repeat(1, 1fr);
        grid-column: 1;
        grid-template-areas:
            "re-grid-item1"
            "re-grid-item2"
            "re-grid-item3"
            "re-grid-item4"
            "re-grid-item5"
            "re-grid-item6";
    }
}

[title~=map] {
    width: 250px;
    height: 250px;
}

.mongolia_article {
    justify-self: center;
    border: 1px solid rgb(158, 193, 145);
    border-radius: 5%;
    text-align: center;
    font-size: 16px;
    align-items: center;
    width: 300px;
    height: 380px;
}

.mongolia_article h3 {
    color: green;
}

.mongolia_article .button {
    display: inline-block;
    justify-content: center;
    height: 30px;
    width: 150px;
    border-radius: 4px;

    border: 1px solid rgb(55, 106, 55);
    background-color: rgb(222, 234, 225);
    color: #376A37;
}

.mongolia_article:hover {
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.215);
}

.region_grid article a:hover {
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.215);
}
.sea-grid article a:hover{
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.215);
}
/*season*/
.sea-grid {
    display: grid;
    width: 80vw;
    margin: auto;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
}

@media only screen and (max-width: 1180px) {
    .sea-grid {
        grid-template-columns: repeat(2, 1fr);
        grid-column: 2;
        grid-template-areas:
            "sea-grid-item1 sea-grid-item2"
            "sea-grid-item3 sea-grid-item4";
    }
}

@media only screen and (max-width:722px) {
    .sea-grid {
        grid-template-columns: repeat(1, 1fr);
        grid-column: 1;
        grid-template-areas:
            "sea-grid-item1"
            " sea-grid-item2"
            "sea-grid-item3"
            " sea-grid-item4";
    }
}

.sea-grid-item1 {
    background-image: url(/PICTURES/autumn.webp);
}

.sea-grid-item2 {
    background-image: url(/PICTURES/winter.webp);
}

.sea-grid-item3 {
    background-image: url(/PICTURES/spring.webp);
}

.sea-grid-item4 {
    background-image: url(/PICTURES/summerzurag.webp);
}

.sea-grid article {
    place-items: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    margin: auto;
    height: 350px;
    width: 250px;
    outline-offset: -10px;
    outline: 1px solid #ffffff;
}

div article:hover {
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.215);
}

.h2-size {
    font-size: 24px;
    font-weight: 300;
}

.sea-grid article h3 {
    color: rgb(246, 246, 246);
    margin-top: 2rem;
    font-size: larger;
    font-weight: bold;
    text-shadow: 1px 1px 2px rgb(90, 87, 87), 0 0 1em rgb(127, 127, 129), 0 0 0.2em rgb(122, 122, 125);
}

.sea-grid article a {
    display: inline-block;
    /* margin-bottom:2rem; */
    /* margin-top:4rem; */
    height: 30px;
    width: 150px;
    border-radius: 4px;
    margin-top: 10rem;
    color: #ffffff;
    text-shadow: 1px 1px 2px rgb(90, 87, 87), 0 0 1em rgb(127, 127, 129), 0 0 0.2em rgb(122, 122, 125);

}

.button1 {
    border: 1px solid rgb(255, 141, 75);
    background-color: rgb(247, 109, 17);
}

.button2 {
    border: 1px solid rgb(121, 235, 255);
    background-color: rgb(126, 193, 255);
}

.button3 {
    border: 1px solid rgb(249, 224, 82);
    background-color: rgb(255, 250, 97);
}

.button4 {
    border: 1px solid rgb(98, 199, 99);
    background-color: rgb(126, 220, 34);
}

/*western mongolia*/

.westr {
    background: url("/PICTURES/western.webp") center center/cover no-repeat;
}

.deed_txt {
    width: 90vw;
    margin: auto;
}

.grid_west {
    display: grid;
    width: 80vw;
    margin: auto;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;

}

@media only screen and (max-width: 440px) {
    .grid_west {
        grid-template-columns: 1fr;
        grid-template-areas:
            "grid-item1"
            "grid-item2"
            "grid-item3";
    }
}

.grid-item1 {
    text-align: justify;
}

.grid_west .grid-item3 li {
    list-style-type: decimal;
    text-align: left;
}

.img_west {
    width: 300px;
    height: 380px;

}

.media_csroler {
    display: grid;
    gap: 2rem;
    grid-auto-flow: column;
    /* grid-auto-columns: 100%;
    /*hajuu tiishee boloh*/
    overflow-x: auto;
    /*ashiglagdaagui dee zurgiin unen hemjee gargana*/
    overscroll-behavior-inline: contain;

}

/*dood taliin hajuu tiish n bolgodog yum alga blgono*/
.media_csroler::-webkit-scrollbar {
    width: 0;
}

.media_element {
    position: relative;
    justify-content: space-between;
    width: 300px;
    height: 380px;
    margin-left: 20px;

}

.img1 {
    background-image: url(/PICTURES/climing.webp);
}

.img2 {
    background-image: url(/PICTURES/amarbayasgalan\ \(1\).webp);
}

.img3 {
    background-image: url(/PICTURES/khowsgol.webp);
}

.img4 {
    background-image: url(/PICTURES/khan.webp);
}

.media_element:hover {
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.215);
}

.clss:hover {
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.215);
}

.media_csroler .media_element h3 {
    color: #ffffff;
    align-items: center;
    font-weight: bold;
    font-size: 20px;
    text-shadow: 1px 1px 2px rgb(90, 87, 87), 0 0 1em rgb(127, 127, 129), 0 0 0.2em rgb(122, 122, 125);
    margin-top: 3rem;
}


.bor-outline {
    outline-offset: -10px;
    outline: 1px solid #ffffff;
}



/*top trivel*/

.top {
    background: url("/PICTURES/top.webp") center center/cover no-repeat;
}


.grid_top {
    display: grid;
    width: 80%;
    margin: auto;
    grid-template-columns: repeat(2, 1fr);
    gap: 0rem;
    align-items: center;
}

@media only screen and (max-width: 900px) {
    .grid_top {
        grid-template-columns: 1fr;
        grid-template-areas:
            "top-item1 "
            "top-item2"
            "top-item3 "
            "top-item4";
    }
}

.top-item1 h3 {
    justify-content: center;
}

.top-item4 {
    text-align: justify;
}

.line {
    margin-top: 1rem;
    border-top: 2px solid hsl(0, 0%, 78%);
    justify-items: end;
}

.top2-img {
    width: 100%;
    height: 300px;
    border-radius: 5px;
}

.top3-img {
    width: 80%;
    height: 300px;
    box-shadow: -15px -15px;
}

.grid_top h3 {
    display: flex;
    color: rgb(163, 165, 165);
    font-weight: 900;
    font-size: 25px;
    align-items: flex-end;
}

.top-item4 h3 {
    color: rgb(0, 0, 0);
    justify-content: center;
    font-weight: 100;
}

.t-center4 p {
    font-size: 20px;
}

footer {
    margin-top: 5rem;
    text-align: center;
    background-color: var(--footer-bg-color);
    color: rgba(255, 255, 255, 0.75);
    padding: 2rem;
}
